
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Перевірка коду</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Введіть код який прийшов на вашу електрону адресу</h3>

    <form action="/second" method="POST">
      <input type="text" placeholder="Код" id="kod" name="kod" required>

      <input type="submit" value="ДИВИТИСЬ НА КІТИ!">
    </form>
    *Ми не впустимо вас доки ви не введете правильний пароль навіть якщо дуже сильно попросите
  </div>
</div>
</body>
</html>